*{
    margin: 0; 
    padding: 0; 
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background-image: url("https://images.pexels.com/photos/1118873/pexels-photo-1118873.jpeg?cs=srgb&dl=pexels-johannes-plenio-1118873.jpg&fm=jpg");
    background-size: cover;
    overflow: hidden;

    perspective: 1000px;
}

.card{
    width: 80%;
    max-width: 400px;
    height: auto;
    background: linear-gradient(135deg, rgba(0, 254, 186, 0.7), rgba(91, 84, 138, 0.7)); /* Adjusted to 70% opacity */

    color: #fff;
    margin: 50px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;

    transform-style: preserve-3d; /* This ensures children of the card move in 3D space. */
    transform: translateZ(0);

    
}

.search{
    width:  100%;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex:  1;
    margin-right: 16px;
    font-size: 18px;
}

.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.search button img{
    width: 18px;
}

.weather-icon{
    width: 170px;
    margin-top: 30px;

    transition: transform 0.3s ease-out; 
    will-change: transform;
}

.weather h1{
    font-size: 60px;
    font-weight: 500;

    transition: transform 0.3s ease-out; 
    will-change: transform;
}

.weather h2{
    font-size: 40px;
    font-weight: 400;

    transition: transform 0.3s ease-out; 
    will-change: transform;
}


.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 30px;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px;
    margin-right: 10px;
}

.humidity, .wind{
    font-size: 28px;
    margin-top: -6px;
}

.weather{
    display: none;
    
}

.error{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display:  none;
}